spring:
  application:
    name: GoGo

  datasource:
    url: jdbc:postgresql://localhost:5432/car_sharing
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        generate_statistics: true

  flyway:
    enabled: true
    baseline-on-migrate: true

gogo:
  settings:
    random-number-car: 3
    random-number-review: 4

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
        stat: DEBUG