spring:
  application:
    name: GoGo

  datasource:
    url: jdbc:postgresql://localhost:5432/Car-sharing
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    baseline-on-migrate: true